 <% if @recipe.status != true %>
    <strong>Cooked this recipe?:</strong>
    <%= @recipe.cooked_or_not %> | <div id="cookedrecipe"><%= link_to "Cooked This Recipe?"%></div>
  <% else %>
    <%= @recipe.cooked_or_not %>
    <%= render '/comments/form' %> 
  <% end %>

  <div id="newcommentform">
  
  </div>

  