<h1>Ratings</h1>

<form class="ratings_search_form">
  <input type="text" name="ratings_search_value" id="ratings_search_value" placeholder="1-10">
  <input type="submit" value="Search Ratings">
</form>

<div id="ratings_search_location"></div>