 <h1>Recipes</h1><button id="showRecipes">Show Recipes</button>


 <div id="recipename"></div>
<br>

  <%= link_to 'New Recipe', '#', class: 'new_recipe_link' %>
  <div id="newrecipeform">
    <%= render partial: 'recipes/form' %>
  </div>

  <%= render partial: 'ratings' %>



