 <h1>Recipes</h1><button id="showRecipes">Show Recipes</button>


 <div id="recipename"></div>
<br>

  <%= link_to 'New Recipe', new_recipe_path, :remote => true %>
  <div id="newrecipeform"></div>

  <%= render partial: 'ratings' %>



